* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper { 
    width: 290px;
    margin: 50px auto;
    position: relative;
    perspective: 1000px;
  }
  
  .box-image {
    width: 100%;
    height: auto;
  }
  
  .wrapper .box-image {
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
  }
  
  .wrapper:hover .box-image {
    transform: rotateY(-90deg);
  }
  
  .text { 
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 0px;
  }
  
  .text {
    transform: rotateY(90deg);
  
    transition: all 0.5s ease-in-out;
  }
  
  .wrapper:hover .text {
    transform: rotateY(0deg);
  }